{{! FOOTER WITH COPYRIGHT THAT DISPLAYS CURRENT DATE/YEAR }}

{{! START OF FOOTER }}
<footer class="footer mt-auto py-3 text-center">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        {{! COPYRIGHT SYMBOL AND TODAYS CURRENT DAY, MONTH, AND YEAR }}
        <p class="foot-text">&copy; {{currentDate}} CodeMantic</p>

      </div>

    </div>

  </div>

</footer>
{{! END OF FOOTER }}