{{!-- views/navbar.handlebars --}}

{{!-- NAVIGATION BAR --}}
<div class="container ">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light h-10%">


    <div class="container-fluid d-flex p-2">

      {{!-- BRAND LINK WITH PHOTO .. IF WE WANT TO ADD PHOTO HERE WE CAN! --}}
      <a class="navbar-brand" href="/">
        {{!-- <h1>&lt;codeMantic&gt;</h1> {{! PHOTO GOES HERE }} --}}
      </a>

      {{!-- TOGGLE BUTTON FOR SMALL SCREENS --}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      {{!-- NAV LINKS --}}
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav me-auto mb-2 mb-md-0">


          {{!-- HOME LINK --}}
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="/">Home</a>

          </li>


          {{!-- ABOUT LINK --}}
          <li class="nav-item">

            <a class="nav-link" href="/about">About CodeMantic</a> 

          </li>

          {{#if logged_in}}
          <li class="nav-item">

            <a class="nav-link" href="/">logout</a> 
            <a class="nav-link" href="/search">Search Users</a> 

          </li>
        {{else}}

          <li class="nav-item" id="logout">

            <a class="nav-link" href="/login">Login</a> 

          </li>
          {{/if}}

          {{!-- SIGN UP LINK --}}
          <li class="nav-item">

            <a class="nav-link" id="signupbtn" href="/signup">Sign Up Today!</a> 

          </li>

        </ul>


        {{!-- SEARCH FORM --}}
        {{!-- <form class="d-flex">

          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

          <button class="btn btn-outline-success" type="submit">Search</button> --}}

        </form>

      </div>

    </div>

  </nav>
  </div>