{{!-- views/navbar.handlebars --}}

{{!-- NAVIGATION BAR --}}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">


  <div class="container-fluid">

    {{!-- BRAND LINK WITH PHOTO .. IF WE WANT TO ADD PHOTO HERE WE CAN! --}}
    <a class="navbar-brand" href="">
      <img href="/public/assets/images/codemantic.svg"  alt="CodeMantic Logo"> {{! PHOTO GOES HERE }}
    </a>

    {{!-- TOGGLE BUTTON FOR SMALL SCREENS --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    {{!-- NAV LINKS --}}
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">


        {{!-- HOME LINK --}}
        <li class="nav-item">

          <a class="nav-link active" aria-current="page" href="/">Home</a>

        </li>


        {{!-- ABOUT LINK --}}
        <li class="nav-item">

          <a class="nav-link" href="/about">About CodeMantic</a> 

        </li>


        {{!-- LOGIN LINK
        <li class="nav-item">

          <a class="nav-link" href="/login">Login</a> 

        </li> --}}


        {{!-- SIGN UP LINK --}}
        <li class="nav-item">

          <a class="nav-link" href="/login">Sign Up Today!</a> 

        </li>

      </ul>


      {{!-- SEARCH FORM --}}
      <form class="d-flex">

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>

    </div>

  </div>

</nav>