<!-- views/about.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Code-Mantic</title>              <!-- BOOTSTRAP CSS STYLE -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<header>


</header>

<!-- ABOUT ME CONTAINER -->
    <div class="container">

        <h1>About Code-Mantic</h1>

        <h2>"Welcome to Code-mantic!</h2> 

        <p>The place where geeks and nerds unite in the quest for love on the internet! 
        Looking for a partner who can debug your heart and write beautiful lines of code? 
        Well, you're in luck! Our dating application brings together developers from all walks of 
        life, ready to find compatibility and make those sparks of binary code fly. Whether you're 
        searching for a Python-loving paramour or a CSS connoisseur, we've got you covered. So put on your 
        best coding socks, grab a cup of Java, and let's navigate the treacherous depths of love algorithms 
        together. Join Code-mantic today and witness how romance can be compiled from ones and zeros!"</p>

    </div>

</body>

</html>