<!-- views/homepage.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code-Mantic</title>          
                                                                <!-- BOOTSTRAP STYLE LINK -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

        <header>

            <h1>Welcome to Code-Mantic!</h1>

        </header>

                        <!-- TESTED LINKS AND THEY ARE FUNCTIONAL :) -->

        <nav>
            <ul>
                        <!-- HOME LINK -->
                <li><a href="/">Home</a></li>

                        <!-- ABOUT PAGE LINK -->
                <li><a href="about.handlebars">About</a></li>

                        <!-- LOGIN LINK -->
                <li><a href="login.handlebars">Login</a></li>

                        <!-- SIGNUP LINK -->
                 <li><a href="signup.handlebars">Signup Today!</a></li>

            </ul>
        </nav>

