<!-- views/homepage.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code-Mantic</title>          
                                                                <!-- BOOTSTRAP STYLE LINK .. UPDATED VERISON -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<header>

    {{!-- NAVBAR --}}
    {{> navbar}}

</header>



<!-- JUMBOTRON -->
<div class="jumbotron">

    <!-- MAIN HEADING -->
    <h1 class="display-4">Find Love in the World of Code!</h1>
    
   
    <p class="lead">Discover tech-savvy singles who share your passion for coding and technology.</p>
    
    <!-- HORIZONTAL RULE -->
    <hr class="my-4">
    
    <!-- SUB-HEADING -->
    <p>Join Code-Mantic today and experience the perfect blend of love and technology.</p>
    
  
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up Now</a>

</div>