<!-- views/login.handlebars -->

<body class="d-flex h-100 text-center text-bg-dark" data-new-gr-c-s-check-loaded="14.1125.0" data-gr-ext-installed="">
    <header>

            {{!-- NAVBAR --}}
            {{> navbar}}

    </header>

  <div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column"> 
<h2>Login</h2>
<form class="form login-form">
    <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary loginBtn" type="button">login</button>
    </div>
    </form>
</div>

 {{!-- <section>
            <form action="#" class="form signup-form">
                <div class="mb-3 w-50 p-3 ">
                    <label for="display-name-login" alt="first name" require> user name:</label>
                    <input class="form-input" type="text" id="display-name" />
                </div>

                <div class="mb-3 w-50 p-3">
                        <label for="pronouns" alt="your pronouns" require>my pronouns:</label>
                        <input list="pronouns" name="pronouns" type="text" id="my-pronouns" require/>
                        <datalist id="pronouns">
                            <option>she/her</option>
                            <option>he/him</option>
                            <option>they/them</option>
                            <option>non-binary</option>
                        </datalist>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label for="email-login" alt="email" require>email:</label>
                    <input class="form-input" type="text" id="email-signup" />
                </div>
            
                <div class="mb-3 w-50 p-3">
                    <label for="password" require>password:</label>
                    <input class="form-input" type="password" id="password-signup" placeholder="min 8 charr"="8" required />
                </div>
                <div class="mb-3 w-50 p-3">
                    <label class="age-signup">my age:</label>
                    <input type="number" min="15" max="200">
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>my operating system:</label>
                    <select class="form-select form-select-sm" aria-label="Default select example">
                        <option>Mac OS</option>
                        <option>Windows</option>
                        <option>Linux</option>
                   
                    </select>
                </div>

                <div class="mb-3 w-50 p-3 form-check">
                    <label>my programing languages:</label>
                    <br>
                    <input  type="radio" id="lang-html1">
                    <label>html</label>
                    <input type="radio" id="lang-html2">
                    <label>css</label>
                    <input type="radio" id="lang-html3">
                    <label>javaScript</label>
                    <br>
                    <input type="radio" id="lang-html4">
                    <label>python</label>
                    <input type="radio" id="lang-html5">
                    <label>php</label>
                    <input type="radio" id="lang-html6">
                    <label>C++</label>
                    <br>
                    <input type="radio" id="lang-html7">
                    <label>php</label>
                    <input type="radio" id="lang-html8">
                    <label>SQL</label>
                    <input type="radio" id="lang-html9">
                    <label>Java</label>
                    <br>
                    <input type="radio" id="lang-html10">
                    <label>Ruby</label>
                    <input type="radio" id="lang-html11">
                    <label>Swift</label>
                    <input type="radio" id="lang-html12">
                    <label>Perl</label>
                    <br>
                    <input type="radio" id="lang-html13">
                    <label>C#</label>
                    <input type="radio" id="lang-html">
                    <label>C#</label>
                    <label>TypeScript</label>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>my personality type:</label>
                    <br>
                    <input type="radio">
                    <label>introverted</label>
                    <br>
                    <input type="radio">
                    <label>extroverted</label>
                </div>

                <div class="mb-3 w-50 p-3">
                <label>my bio</label>
                <textarea id="bio" name="my bio" type="text" rows="4" cols="36" ></textarea>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>my hobbies:</label>
                    <textarea id="my-hobbies" type="text" rows="4" clos="36" ></textarea>

                </div>
                <div class="mb-3 w-50 p-3">
                    <button class="btn btn-primary signup" type="button">sign up</button>
                </div>
            </form>
            </section> --}}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>

