<!-- views/signup.handlebars -->
<body >
    <header>

            {{!-- NAVBAR --}}
            {{> navbar}}

    </header>
<div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
    <section>
            <form action="#" class="form signup-form">
                <div class="mb-3 w-50 p-3 ">
                    <label for="display-name-login" alt="first name" require> user name:</label>
                    <input class="form-input" type="text" id="display-name" />
                </div>

                <div class="mb-3 w-50 p-3">
                        <label for="pronouns" alt="your pronouns" require>my pronouns:</label>
                        <input list="pronouns" name="pronouns" type="text" id="my-pronouns" require/>
                        <datalist id="pronouns">
                            <option>she/her</option>
                            <option>he/him</option>
                            <option>they/them</option>
                            <option>non-binary</option>
                        </datalist>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label for="email-login" alt="email" require>email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
            
                <div class="mb-3 w-50 p-3">
                    <label for="password" require>password:</label>
                    <input class="form-input" type="password" id="password-login" placeholder="min 8 charr"="8" required />
                </div>
                <div class="mb-3 w-50 p-3">
                    <label class="age-signup">my age:</label>
                    <input type="number" min="15" max="200">
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>my operating system:</label>
                    <select class="form-select form-select-sm" aria-label="Default select example">
                        <option>Mac OS</option>
                        <option>Windows</option>
                        <option>Linux</option>
                   
                    </select>
                </div>

                <div class="mb-3 w-50 p-3 form-check">
                    <label>my programing languages:</label>
                    <br>
                    <input  type="radio" id="lang-html" name="language">
                    <label  for="html">html</label>
                    <input type="radio" id="lang-css" name="language">
                    <label for="css">css</label>
                    <input type="radio" id="lang-javaScript" name="language">
                    <label for="javascript">javaScript</label>
                    <br>
                    <input type="radio" id="lang-python" name="language">
                    <label for="python">python</label>
                    <input type="radio" id="lang-C++" name="language">
                    <label for="c++">C++</label>
                    <br>
                    <input type="radio" id="lang-php" name="language">
                    <label for="php">php</label>
                    <input type="radio" id="lang-SQL" name="language">
                    <label for="sql">SQL</label>
                    <input type="radio" id="lang-Java" name="language">
                    <label for="java">Java</label>
                    <br>
                    <input type="radio" id="lang-Swift" name="language">
                    <label for="swift">Swift</label>
                    <input type="radio" id="lang-Perl" name="language">
                    <label for="perl">Perl</label>
                    <br>
                    <input type="radio" id="lang-C#" name="language">
                    <label for="c#">C#</label>
                    <input type="radio" id="lang-TypeScript" name="language">
                    <label for="typescript">TypeScript</label>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>my personality type:</label>
                    <br>
                    <input type="radio" name="personality" id="introvert">
                    <label for=""introvert>introvert</label>
                    <br>
                    <input type="radio" name="personality" id="extrovert">
                    <label for=""extrovert>extrovert</label>
                </div>

                <div class="mb-3 w-50 p-3">
                <label>Bio</label>
                <textarea id="bio" name="my bio" type="text" rows="4" cols="36" ></textarea>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label>Hobbies:</label>
                    <textarea id="my-hobbies" type="text" rows="4" clos="36" ></textarea>

                </div>
                <div class="mb-3 w-50 p-3">
                    <button class="btn btn-primary" type="submit">sign up</button>
                </div>
            </form>
            </section>

</div>

</body>