<!-- views/signup.handlebars -->
<body >
    <header>

            {{!-- NAVBAR --}}
            {{> navbar}}

    </header>

<div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
    <section>
            <form action="#" class="form signup-form">
                <div class="mb-3 w-50 p-3 ">
                    <label for="display-name" alt="first name" required> user name:</label>
                    <input class="form-input" type="text" id="display-name" />
                </div>

                <div class="mb-3 w-50 p-3">
                        <label for="pronouns" alt="your pronouns" required>my pronouns:</label>
                        <input list="pronouns" name="pronouns" type="text" id="my-pronouns" require/>
                        <datalist id="pronouns">
                            <option>she/her</option>
                            <option>he/him</option>
                            <option>they/them</option>
                            <option>non-binary</option>
                        </datalist>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label for="signup-email-login" alt="email" required>email:</label>
                    <input class="form-input" type="text" id="signup-email-login" />
                </div>
            
                <div class="mb-3 w-50 p-3">
                    <label for="signup-password-login" required>password:</label>
                    <input class="form-input" type="password" id="signup-password-login" placeholder="min 8 charr"="8" required />
                </div>
                <div class="mb-3 w-50 p-3">
                    <label class="age-signup" required>my age:</label>
                    <input type="number" min="15" max="200" id="myAge">
                </div>
                <div class="mb-3 w-50 p-3">
                    <label required>my operating system:</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="myOperatingSystem">
                        <option>Mac OS</option>
                        <option>Windows</option>
                        <option>Linux</option>
                   
                    </select>
                </div>

                <div class="mb-3 w-50 p-3 form-check" id="myLanguages">

                    <label>my programing languages:</label>
                    <br>
                    <input  type="checkbox" id="lang-html" name="language">
                    <label  for="lang-html">html</label>
                    <input type="checkbox" id="lang-css" name="language">
                    <label for="lang-css">css</label>
                    <input type="checkbox" id="lang-javaScript" name="language">
                    <label for="lang-javascript">javaScript</label>
                    <br>
                    <input type="checkbox" id="lang-python" name="language">
                    <label for="lang-python">python</label>
                    <input type="checkbox" id="lang-C++" name="language">
                    <label for="lang-C++">C++</label>
                    <br>
                    <input type="checkbox" id="lang-php" name="language">
                    <label for="lang-php">php</label>
                    <input type="checkbox" id="lang-SQL" name="language">
                    <label for="lang-sql">SQL</label>
                    <input type="checkbox" id="lang-Java" name="language">
                    <label for="lang-Java">Java</label>
                    <br>
                    <input type="checkbox" id="lang-Swift" name="language">
                    <label for="lang-Swift">Swift</label>
                    <input type="checkbox" id="lang-Perl" name="language">
                    <label for="lang-Perl">Perl</label>
                    <br>
                    <input type="checkbox" id="lang-C#" name="language">
                    <label for="lang-C#">C#</label>
                    <input type="checkbox" id="lang-TypeScript" name="language">
                    <label for="lang-TypeScript">TypeScript</label>

                </div>
                <div class="mb-3 w-50 p-3" id="myPersonality">
                    <label>my personality type:</label>
                    <br>
                    <input type="checkbox" name="personality" id="myPersonality">
                    <label for="myPersonality" required>introvert</label>
                    <br>
                    <input type="checkbox" name="personality" id="extrovert">
                    <label for="extrovert" required>extrovert</label>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="mb-3 w-50 p-3">
                <label style="display:grid;">Bio</label>
                <textarea id="bio" name="my bio" type="text" rows="6" cols="36" ></textarea>
                </div>
                <div class="mb-3 w-50 p-3">
                    <label style="display:grid;">Hobbies:</label>
                    <textarea id="my-hobbies" type="text" rows="6" cols="36" ></textarea>

                </div>
                <div class="mb-3 w-50 p-3">
                    <button class="btn btn-primary signupBtn" type="button">sign up</button>

                </div>
            </div>
            </form>
            </section>

</div>
<script src="./js/signUp.js"></script>

</body>







